{% extends 'layout/admin.base.twig' %}
{% block content %}
    <legend>Création d'un nouvel article</legend>
    <form class="span5" id="formFr" novalidate action="{{ path('form_news_create') }}" method="post">
        {{ form_widget(form) }}
        <input class="btn btn-success" value="Ajouter" type="submit">
    </form>
{% endblock %}
{% block javascript %}
    <script src="{{ app.request.basepath }}/js/tiny_mce/tiny_mce.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            tinyMCE.init({
                mode : "textareas"
            });
        });
    </script>
{% endblock %}