{% extends 'layout/admin.base.twig' %}
{% block stylesheet %}

{% endblock %}
{% block content %}
    <form action="" method="post" {{ form_enctype(form) }}>
        <fieldset>
            <legend>Téléversement d'une image</legend>
            {{ form_widget(form) }}
        </fieldset>
        <input type="submit" name="Upload File" />
    </form>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        $(function() {

        });
    </script>
{% endblock %}