{% extends 'layout/admin.base.twig' %}
{% block stylesheet %}

{% endblock %}
{% block content %}
    <h2>Téléversement d'image</h2>
    <div id="html4_uploader">You browser doesn't support simple upload forms. Are you using Lynx?</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        $(function() {

        });
    </script>
{% endblock %}