{% extends 'layout/admin.base.twig' %}
{% block content %}
    <legend>Ajout d'un nouveau type de papier</legend>
    <div class="well">
        <h4>Liste des papiers disponible</h4>

        <div class="clearfix"></div>
        <h4>Ajouter un nouveau type de page</h4>
        <a class="btn btn-primary" href="{{ path('devis_pages_add')}}">Ajouter</a>
    </div>
{% endblock %}