{% extends 'layout/admin.base.twig' %}
{% block content %}
    <legend>Information de l'entreprise</legend>
    <form novalidate action="{{ path('form_conf') }}" method="post">
        {{ form_widget(form) }}
        <input type="submit" name="submit" />
    </form>
{% endblock %}