{% extends 'layout/admin.base.twig' %}
{% block content %}
    <legend>Votre newsletter a été créer</legend>
    <h4>Mais l'envoi n'est pas encore pris en compte, veuillez nous excuser pour la gène occasioné.</h4>
{% endblock %}