{% extends 'layout/admin.base.twig' %}
{% block content %}
    <legend>Administration Newsletter</legend>
    <h6>Liste des utilisateur inscrit à la newsletter</h6>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    adresse
                </th>
                <th>
                    état
                </th>
            </tr>
        </thead>
        <tbody>
            {% for user in user_news %}
            <tr>
                <td>
                    {{ user.id }}
                </td>
                <td>
                    {{ user.email }}
                </td>
                <td>
                    {{ user.state }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}