{% extends 'layout/admin.base.twig' %}
{% block content %}
    <h2>Votre newsletter a été créer</h2>
    <h4>Mais l'envoi n'est pas encore pris en compte, veuillez nous excuser pour la gène occasioné.</h4>
{% endblock %}