{% extends 'layout/admin.base.twig' %}
{% block content %}
    <legend>Création d'un nouvel administrateur</legend>
    <form id="formFr" novalidate action="{{ path('form_user_create') }}" method="post">
        {{ form_widget(form) }}
    <input class="btn btn-success" value="Ajouter" type="submit">
    </form>
{% endblock %}