{%extends "layout/base.twig" %}
{% block stylesheet %}
    <style type="text/css">

    </style>

{% endblock %}
{% block nav %}

{% endblock %}
{%block article%}
  <div id="container">
    <div     class="article">
        <div class="article_left">

        </div>
    </div>
          <div id="0"   class="article" >
              <div class="article_right">
                  <div class="text_article">
                      <h2 >Que voulez vous faire ?</h2>
                      <a class="btn btn-warning btn-large" id="views_quote"><i class="icon-white icon-list-alt"></i> Voir un devis</a>
                      <a class="btn btn-info btn-large" id="create_quote" ><i class="icon-white icon-th-list"></i> Générer un devis</a>
                  </div>
              </div>
          </div>
     
            <div  id="1" class="article" >
                <div class="article_left">
                    <article class="text_article">
                        <h3>voir un devis</h3>
                        <form>
                            <input type="text" value="" placeholder="key" >
                            <input type="submit" class="btn btn-success" value="Rechercher" style="margin-top:-7px;">
                        </form>
                        <div id="commentBox">

                        
                        <a class="btn btn-large" href="{{ path('espace_client',{lang: lang}) }}" ><i class="icon-white icon-th-list"></i> Espace client</a>
                    </article>
                </div>
            </div>
            <div id="2"   class="article" >
              <div class="article_right">
                  <article class="text_article">
                      <h3>Crée un devis</h3>
                          <form action="{{ path('espace_client',{lang: lang}) }}" method="post">
                                  {{ form_widget(form) }}
                                  <input class="btn btn-success" value="Valider" type="submit">
                          </form>
                          <a class="btn  btn-large" href="{{ path('espace_client',{lang: lang}) }}" ><i class="icon-white icon-th-list"></i> Espace client</a>
                   </article>
              </div>
          </div>
    <div   class="article" >
        <div class="article_left">

        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript"

    </script>
{% endblock %}