{%extends "layout/base.twig" %}
{% block stylesheet %}
    <style type="text/css">

    </style>
{% endblock %}
{% block nav %}

{% endblock %}

{%block article%}
    <div     class="article">
        <div class="article_left">

        </div>
    </div>
    <div class="contact">
        
        <h1>Plan du site</h1>
        
           <table cellpadding="0" cellspacing="0" border="0" width="100%">

                <tr><td class="lpage"><a href="http://pollina.bilou.net/index.php/fr/" title="Pollina">- l'Entreprise</a></td></tr>
                <tr><td class="lpage"><a href="http://pollina.bilou.net/index.php/fr/metiers" title="Pollina">- Nos Metiers</a></td></tr>
                <tr><td class="lpage" style="padding-left:70px;"><a href="http://pollina.bilou.net/index.php/fr/item_01" title="Pollina">Sous page</a></td></tr>
                <tr><td class="lpage"><a href="http://pollina.bilou.net/index.php/fr/espace_client" title="Pollina">- Espace Client</a></td></tr>
                <tr><td class="lpage"><a href="http://pollina.bilou.net/index.php/fr/contact" title="Pollina">- Contact</a></td></tr>
                <tr><td class="lpage" style="padding-left:70px;"><a href="http://pollina.bilou.net/index.php/fr/contact/itinerary" title="Pollina">Itineraire</a>&nbsp;&nbsp;</td></tr>
                <tr><td class="lpage"><a href="http://pollina.bilou.net/index.php/fr/plan_site" title="Pollina">- PLan du site</a></td></tr>
                <tr><td class="lpage"><a href="http://pollina.bilou.net/index.php/fr/mention/legal" title="Pollina">- Mention Legal</a></td></tr>
            </table>

</div>
{% endblock %}
