
@font-face {
  font-family: FengardoNeue_Black;
  src: url('../font/Fengardo_Neue/FengardoNeue_Black.otf');
}
@font-face {
  font-family: FengardoNeue_Regular;
  src: url('../font/Fengardo_Neue/FengardoNeue_Regular.otf');
}
@font-face {
  font-family: Myriadopro_regular;
  src: url('../font/myriad-pro/MYRIADPRO-REGULAR.OTF');
}



              
                
                
html, body {
    height:1480px;
    padding:0;
    font-size: 1.2em;
    background-color: #252525;
    font-family: FengardoNeue_Regular, sans-serif;
    font-size: 15px;
}
                
body {
    background-color: #252525;
    margin: 0
}
                
#content{
    width:1400px;
    height:1480px;
    position:relative;
    background-color: #252525;
    margin:auto;
}
.clear{
    clear: both;
}
                
#suiv{float:left;}
#pres{float:left;}

#menu_lang{
    position:absolute;
    top:20px;
    right:85px;
    width: 40px;
    height:180px;
    border-radius: 10px;
    background-color: white;
    background: rgba(255,255,255,0.05) ;
    padding-top :6px;
}

a { text-decoration:none; }

#lang_fr:hover{
    width: 30px;
    height:30px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top:4px;
    background-image:url(../img/fr_true.png);
    display: block;
}
#lang_fr{
    width: 26px;
    height:27px;
    margin-left: 7px;
    margin-right: 7px;
    margin-top:7px;
    background-image:url(../img/fr_false.png);
    display: block;
}
#lang_en:hover{
    width: 30px;
    height:30px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top:4px;
    background-image:url(../img/en_true.png);
    display: block;
}
#lang_en{
    width: 26px;
    height:27px;
    margin-left: 7px;
    margin-right: 7px;
    margin-top:7px;
    background-image:url(../img/en_false.png);
    display: block;
}
#lang_de:hover{
    width: 30px;
    height:30px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top:4px;
    background-image:url(../img/de_true.png);
    display: block;
}
#lang_de{
    width: 26px;
    height:27px;
    margin-left: 7px;
    margin-right: 7px;
    margin-top:7px;
    background-image:url(../img/de_false.png);
    display: block;
}
#menu_fb{
    height: 19px;
    margin-left: 14px;
    margin-right: 14px;
    margin-top: 12px;
    width: 9px;
    background-image:url(../img/menu_fb.png);
}

#menu_twitter {
    background-image: url("../img/menu_twitter.png");
    height: 18px;
    margin-left: 7px;
    margin-right: 7px;
    margin-top: 13px;
    width: 26px;
}


#g-plus{
    position:absolute;
    top:210px;
    right:70px;
    width: 60px;
    height:70px;
}

#container{
    width:100%;
    height:1480px;
    position:absolute;
    top:0;
    overflow: hidden;
}

.article{
    width:100%;
    height:675px;
    position:relative;
    min-height: 100px;
    padding: 20px;
    width: 100%;
    padding: 0px;
    opacity:0.05;
    top:-275px;
}
                
.text_article{
    margin-top:130px;
    width: 620px;
    line-height: 22px;
    color: #777777;
}
.text_article a{ color: #777777; }

.article_left{
    width: 750px;
    height: 624px;
    padding-left: 545px;
    position: absolute;
    top:0;
    left:0;
    background-color: #DDDDDD;
    -webkit-border-radius: 0px 312px 312px 0px;
    border-radius: 0px 312px 312px 0px;
}
.article_right{
    width: 860px;
    height: 624px;
    padding-left: 150px;
    position: absolute;
    top:0;
    right:0;
    background-color: #DDDDDD;
    -webkit-border-radius: 312px 0px 0px 312px ;
    border-radius: 312px 0px 0px 312px ;
}

#nav_article{
    position:absolute;
    left:1110px;
    top:360px;
    width:81px;
    height:81px;
    background-image:url(../img/nav_article.png);
    z-index: 1;
}

#prev_article:hover,#next_article:hover{
    cursor: pointer;
}
#prev_article{
    width: 100%;
    height: 50%;
}
#next_article{
    width: 100%;
    height: 50%;
}
                
#news{
     left: 210px;
    position: absolute;
    top: 531px;
     height: 291px;
     width: 291px;
     background-color: black;
     z-index: 1;
}
#news_content{
     padding-top: 29px;
     padding-left: 19px;
     font-size: 18px;
     color: white;
     padding-right: 19px;
}
                
#slide{
    left: 210px;
    position: absolute;
    top: 842px;
    height: 291px;
    width: 291px;
    background-color: black;
    z-index: 1;
}

#header{
    position:absolute;
    width:100%;
    z-index: 1;
}
#img_header{
    width:1121px;
    height:490px;
    background-image:url(../img/header_logo.png);
}

#footer{
   position:absolute;
   height:327px;
   width:100%;
   top:1153px;
}

#menu_footer {
    height: 19px;
    margin-left: 450px;
    margin-top: 10px;
    width: 400px;
    font-size: 11px;
    color:white;
}
#menu_footer a{ color:white;}

#info_footer{
    float: left;
    height: 70px;
    margin-left: 412px;
    margin-top: 55px;
    width: 120px;
    color:white;
    font-size: 13px;
}
#social_footer {
    float: left;
    height: 120px;
    margin-left: 70px;
    margin-top: 36px;
    width: 170px;
    color:white;
    font-size: 18px;
}
.link_social_footer{
    float: left;
    font-size: 13px;
    margin-left: 5px;
    margin-top: 5px;
}
.img_social_footer{
    font-size: 13px;
    margin-bottom: 2px;
    float:left;
    display: block;
    color: white;
}

.img_social_footer img{
    float: left;
}

#newsletter_footer{
    height: 120px;
    width: 195px;;
    margin-top: 36px;
    color:white;
    font-size: 18px;
    float: left;
}
#newsletter_footer p{
    font-size: 13px;
    padding-right: 30px;
}
.titre_footer{font-family: FengardoNeue_Black, sans-serif;}

#newsletter_footer input{
    background-color: #515151;
    background-image: url("../img/input_newsletter.png");
    border:1px;
    font-size: 13px;
    height: 29px;
    padding-left: 10px;
    width: 135px;
    float: left;
    color:#C2C2C2;
}
#newsletter_footer button{
    background-color: #515151;
    background-image: url("../img/button_newsletter.png");
    border: 0 none;
    height: 33px;
    width: 33px;
    float: left;
    margin-left: 5px;
}
#img_footer{
    float: right;
    width:1190px;
    height:327px;
    background-image:url("../img/footer_logo.png");
}

.nav {
    margin:0;
    padding:0;
    list-style:none;
}
	

.page{
    width: 96%;
    height: 610px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 510px;
    float: left;
    overflow-y:scroll;
    overflow-x:hidden;
    background-color: #DDDDDD;
}
.page a{ color: #777777; }

.contact {
    margin-top: -210px;
    margin-left: 280px;
    float: left;
    width: 720px;
    height: 430px;
    padding-bottom: 130px;
    padding-top: 50px;
    padding-left: 250px;
    padding-right: 150px;
    -webkit-border-radius: 312px 0px 0px 312px;
    border-radius: 312px 0px 0px 312px;
    background-color: #d3d3d3;
}
.left{
    float: left;
    height: 100%;
    padding-right: 5%;
    border-right: dotted 1px #000000;
    width: 44%;
}

#message{
    width: 100%;
}

.right{
    float: left;
    height: 95%;
    width: 45%;
    padding-left: 5%;
    padding-top: 5%;
}

#map_canvas{
    height: 80%;
    width: 80%;
}

#link_logo{
    top: 90px;
    left: 170px;
    position: absolute;
    height: 180px;
    width: 430px;
}

/* ------------------------ menu ------------------------- */


#menuContent{
	width: 64%;
	margin-top: 341px;
        margin-left: 210px;
	position: absolute;
	z-index: 3;
}

#sousmenuMetier{
	position: relative;
	top:43px;
}
#menu{

	float:left;
	display:inline;
}
#menu div{
	width:291px;
	height:41px;
	margin-bottom: 2px;
	font-size: 19px;
}

.blue{
	background-color: #1a9fde;
}

.pink{
	background-color: #e0137a;
}

.yellow{
	background-color: #feeb34;
}

.blackLink{
	color:#000!important;
}


.black{
	background-color: black;
}

#menu div a:link, #menu div a:visited, #menu div a:hover{
	margin-left: 20px;
	padding-top: 12px;
	color:#fff;
	font-family:Myriadopro_regular,sans-serif;
	text-decoration:none;

	height:41px;
	display:block;
}

.sousmenuH ul {
 margin:0;
 padding:0;
 list-style-type:none;
 text-align:center;

 }
.sousmenuH li {
 float:left;
 margin:auto;
 padding:0;
  background-color:#a20b59;

 width:131px;
 height:41px;
 margin-left: 2px;
 }
.sousmenuH li a {
	margin-top: 8px;
	display:block;
	width:131px;
	color:white;
	font-family:myriad,sans-serif;
	text-decoration:none;
	padding:5px;

 }

.sousmenuH ul li ul {
 display:none;

 }

 .sousmenuH ul li:hover ul {
 display:block;
 }
.sousmenuH li:hover ul li {
 float:none;
 }

 .sousmenuH li ul {
 position:absolute;

 }

 .sousmenuH {
 	display: none;
 }
 .menulvl3 {
 	top:41px;
}
.menulvl3 li{
	height:41px;
	background-color: #fc178a;
	margin-top:-6px;
	margin-left:  0px;

}
.menulvl3 li a{
	padding-top: 12px;
	font-family:myriad,sans-serif;
}

.submitN{

}

.contentMailN{
    width: 140px;
    margin-top: 7px;
    padding: 5px;
    border: 1px solid #3e3e3e;
    background: #4d4d4d;
}

.mailN{
    height: 16px;
    background: #747474;
    color: #fff;
    border: 0px;
    padding-left: 10px;
}

.lpage{
    padding-left: 50px;
}




