		html, body { 
			height: 100%;
			padding:0; margin:0;
			font-size: 1.2em;

			text-shadow: 1px 1px 0 #fff;
			background-color: white;
		}
                
		body {
			height:1000px;
		}

		#header{position:absolute;
                        height:50px;
                        width:100%;
                        background-color:green;
                        z-index: 1
                }
                
		#footer{position:absolute;
                        height:50px;width:100%;
                        background-color:green;
                        top:1000px;
                }
                
		#suiv{float:left;}
		#pres{float:left;}

		#container{width:100%;
                           height:1000px;
                           position:absolute;
                           top:0%;
                           background-color: blue;
                           overflow: hidden;
                }
                
		.article{width:100%;
                         height:500px;
                         position:relative;
                         background-color: red;
			min-height: 100px;
			padding: 20px;
			width: 100%;
			background-color: red;
			padding-top:50px;
			opacity:0.5;
			top:250px;}
                
		#menu {
		    left: 300px;
		    position: absolute;
		    top: 250px;
		    height: 200px
		}
                
		.menu{height: 30px;
                     width: 250px;
                     background-color: black;
                     z-index: 1;
                     position: relative;
                     display: block;
                     margin-top: 5px;
                }