
<!DOCTYPE html >
<html>
	<head>
		<meta charset="utf-8">
		<title>Pollina</title>
	</head>
	
	<style type="text/css">
                

	</style>
        
        <link rel="stylesheet" type="text/css" media="screen" href="/Pollina/web/css/style.css" />
	
	<body>
		<div id="header">
			header <div id="suiv" ><a herf="#"> suiv</a></div>-<div id="pres"><a herf="#"> pres  </a></div>
		</div>
		<div id="menu">
			
				<div class="menu" id="entreprise" ><a herf="#"> L'ENTREPRISE </a></div>
				<div class="menu" id="metiers" ><a herf="#"> NOS METIERS </a></div>
				<div class="menu" id="contact" ><a herf="#"> CONTACT  </a></div>
				<div class="menu" id="client" ><a herf="#"> ESPACE CLIENT  </a></div>
			
		</div>
			<div id="container">
                                {%block article%}
                                {%endblock%}
				<div  id="1" class="article">
					1
				</div>
				
				<div  id="2" class="article" >
					2
				</div>
				
				<div  id="3" class="article" >
					3
				</div>

				<div  id="4" class="article" >
					4
				</div>

				<div  id="5" class="article" >
					5
				</div>

				<div  id="6" class="article" >
					6
				</div>

			</div>

		<div id="footer" >
			footer
		</div>
		
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>

                <script type="text/javascript" src="/Pollina/web/js/fonction.js"></script>
		
	</body>
</html>
			