{%extends "layout/base.twig" %}
{% block nav %}

{% endblock %}
{% block slide %}

{% endblock %}
{%block article%}
    <div class="page">
    <h2>404 not found</h2>
        <p>
            La page que vous recherchez n'est pas disponible ou n'existe plus
        </p>
    </div>
{% endblock %}