{% extends 'layout/admin.base.twig' %}
{% block content %}
    <h2>Information de l'entreprise</h2>
    <form novalidate action="{{ path('form_conf') }}" method="post">
        {{ form_widget(form) }}
        <input type="submit" name="submit" />
    </form>
{% endblock %}